<!DOCTYPE html>
<html>
  <head>
    <title>PointsBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to current_user.username, profile_path %>: <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
  </body>
</html>
